
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@model List<Model.BaiHat>
<div class="container">
    <div>

        <h2>Danh sách bài hát</h2>
        @*@{
                    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 5);
                    @grid.GetHtml(tableStyle: "webGrid", headerStyle: "webgrid-header", alternatingRowStyle: "webgrid=alternating=row",
                    rowStyle: "webgrid-row-style", mode: WebGridPagerModes.All, firstText: "<<", previousText: "<", nextText: ">", lastText: ">>",
                    htmlAttributes: new { id = "DataTable" },
                   columns: grid.Columns(
                       grid.Column("TenBaiHat", header: "Tên bài hát", canSort: false),
                       //grid.Column("AnhBaiHat", header: "", format:@<img src="" alt="Alternate Text" width="100" height="100" />),
                       grid.Column("LoiBaihat", header: "Lười bài hát", canSort: false),
                       grid.Column("NgayPhatHanh", header: "Ngày phát hành", canSort: false),
                       grid.Column("LuotNghe", header: "Lượt nghe", canSort: false),
                       grid.Column("LuotTai", header: "Lượt tải", canSort: false),
                       grid.Column("LuotThich", header: "Lượt thích", canSort: false),
                       grid.Column(header: "", format:@<text><a href="#">xem</a></text>, canSort: false),
                       grid.Column(header: "", format:@<text><a href="#">Upload</a></text>, canSort: false)
        )
        )
                }*@
       
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên bài hát</th>
                    <th>Lời bài hát</th>
                    <th>Ngày phát hành</th>
                    <th>Lượt nghe</th>
                    <th>Lượt tải</th>
                    <th>Lượt thích</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.TenBaiHat</td>
                        <td>@item.LoiBaihat</td>
                        <td>@item.NgayPhatHanh</td>
                        <td>@item.LuotNghe</td>
                        <td>@item.LuotTai</td>
                        <td>@item.LuotThich</td>
                        <td><a href="#">Sửa</a></td>
                        <td><a href="#">Xóa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

